


body {
    background-color: rgb(29, 29, 29);
    color: rgb(167, 167, 167);
  }
p {
    color: rgb(255, 255, 255);
  }


#home-intro {
    text-align: left;
    color: rgb(255, 255, 255);
    max-width: 600px;
    min-width: 100px;  
  }

/*start project container*/
.project-container {
    background-color: rgb(255, 192, 192);
    max-width: 600px;
    min-width: 100px;  
  }
h3.project-container {
    color: rgb(203, 31, 31);
 }
p.project-container {
  color: rgb(203, 31, 31);
}
/*end project container*/

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}
